<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>

<!-- 登录信息部分 -->
<div>

    <span th:if="${session.loginInfo.getPermission() == 0}">管理员：<span th:text="${session.loginInfo.getName()}">XXX</span>您好</span>
    <span>欢迎您来到录入商品页面</span>

</div>
<div>
    <a th:href="@{/auth?method=logout}">退出交易系统</a>
</div>


<form th:action="@{/work}" method="post">
    <!-- 传递 method 请求参数，目的是为了让当前请求调用 AuthServlet 中的 register() 方法 -->
    <input type="hidden" name="method" value="addGoods" />

    商品id：<input type="text" name="goodsId"/><br/>
    商品名称：<input type="text" name="goodsName"><br/>
    商品种类：<input type="text" name="goodsVariety"><br/>
    商品价格：<input type="text" name="price"><br/>
    商品数量：<input type="text" name="count"><br/>
    商品详情：<input type="text" name="details"><br/>
    输入你的id号：<input type="text" name="sellerId"><br/>

    <button type="submit">录入</button>
</form>

<a th:href="@{/work?method=showGoodsList}">返回列表</a>
</body>
</html>